.vscode/**
.vscode-test/**
.vscode-test.mjs
.github/**
out/**
src/**
.gitignore
.nvmrc
esbuild.js
eslint.config.mjs
tsconfig.json
**/*.map
**/*.ts
**/*.yml
**/*.md
node_modules
img/**
!img/ico.png
!README.md
!CHANGELOG.md
